*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(159, 189, 255);
}

.main{
    margin: 20px auto;
    max-width: 80%;
    background-color: aliceblue;
    padding: 30px 2%;
    text-align: center;
}

.main h2{
    font-size: 45px;
    color: rgb(104, 152, 255);
    text-align: center;

}

input{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 600;
    width: 135px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid rgb(159, 189, 255);
    

}

.pokemons-boxes{
    border-radius: 10px;
    border: 1px solid rgb(159, 189, 255);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-box{
    width: 29%;
    margin: 2%;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
}

.pokemon-box img{
    width: 100%;
}

.pokemon-box p{
    text-align: center;
    padding: 10px 0;
    font-size: 21px;
}

@media (max-width: 700px){
    .pokemon-box p{
        font-size: 13px;
    }
    
}
